%p Dear #{@follower.full_name},
%p #{@author.full_name} posted a new article.
%p
  %strong Title:
  = @post.title
%p
  %strong Excerpt:
  = @post.excerpt
%p
  Please click here to read full article.
  = link_to post_url(@post, host: @host), post_url(@post, host: @host)
  
= render 'email_sig'
