= render 'admin/shared/setting_tabs'

#plans
  %h2 Select Plan
  .shortline.mb2

  .row
    %ul.col-md-4
      %li.plan-head
        %h3 Free
      %li.plan-image
        = image_tag 'videopage7_free.png'
        %span.price
          %span 0,-€
          %span.price-small year
      %li.yes
        oidjqwiodjqopidjpq
      %li.yes
        oidjqwiodjqopidjpq
      %li.no
        oidjqwiodjqopidjpq
      %li.yes
        oidjqwiodjqopidjpq
      %li.buy
        = link_to 'Register', '#'

    %ul.col-md-4
      %li.plan-head
        %h3 Pro
      %li.plan-image
        = image_tag 'videopage7_pro.png'
        %span.price
          %span 59,-€
          %span.price-small year
      %li.yes
        oidjqwiodjqopidjpq
      %li.yes
        oidjqwiodjqopidjpq
      %li.no
        oidjqwiodjqopidjpq
      %li.yes
        oidjqwiodjqopidjpq
      %li.buy
        = link_to 'Upgrade to PRO', new_admin_order_path(plan: 'pro')
    %ul.col-md-4
      %li.plan-head
        %h3 Expert
      %li.plan-image
        = image_tag 'videopage7_expert.png'
        %span.price
          %span 99,-€
          %span.price-small year
      %li.yes
        oidjqwiodjqopidjpq
      %li.yes
        oidjqwiodjqopidjpq
      %li.no
        oidjqwiodjqopidjpq
      %li.yes
        oidjqwiodjqopidjpq
      %li.buy
        = link_to 'Upgrade to EXPERT', '#'

  .row.mt2
    .col-md-12.text-right
      = link_to 'Cancel', admin_orders_path, class: 'btn btn-default'
