= render 'admin/shared/setting_tabs'

#plans
  %h2 Select Plan
  .shortline.mb2

  .row
    %ul.col-md-4
      %li.plan-head
        %h3 Free
      %li.plan-image
        = image_tag 'videopage7_free.png'
        %span.price
          %span= plan_price_with_symbol(Plan.free_plan.price_cents)
          %span.price-small year
      %li.yes
        Create ONE videopage
      %li.yes
        Use Your Own Domain
      %li.no
        Post Up To 4 Videos
      %li.yes
        500MB space
      %li.no
        Place Your Videos In "Successes" Category
      %li.no
        Upload Your Custom Logo
      %li.buy
        - case current_account.upgrade_plan_status(Plan.free_plan)
        - when :current
          = link_to 'Current plan', '#', class: 'btn disabled', disabled: true
        - when :cannot_upgrade
          = link_to "Can't upgrade", '#', class: 'btn disabled', disabled: true

    %ul.col-md-4
      %li.plan-head
        %h3 Pro
      %li.plan-image
        = image_tag 'videopage7_pro.png'
        %span.price
          %span= plan_price_with_symbol(Plan.pro_plan.price_cents)
          %span.price-small year
      %li.yes
        Create ONE videopage
      %li.yes
        Use Your Own Domain
      %li.yes
        Post Unlimited Videos
      %li.yes
        5GB space
      %li.yes
        Place Your Videos In "Successes" Category
      %li.yes
        Upload Your Custom Logo
      %li.buy
        - case current_account.upgrade_plan_status(Plan.pro_plan)
        - when :current
          = link_to 'Current plan', '#', class: 'btn disabled', disabled: true
        - when :can_upgrade
          = link_to "Upgrade to PRO", new_admin_order_path(plan: 'pro')
        - else
          = link_to "Can't upgrade", '#', class: 'btn disabled', disabled: true

    %ul.col-md-4
      %li.plan-head
        %h3 Expert
      %li.plan-image
        = image_tag 'videopage7_expert.png'
        %span.price
          %span= plan_price_with_symbol(Plan.expert_plan.price_cents)
          %span.price-small year
      %li.yes
        Create ONE videopage
      %li.yes
        Use Your Own Domain
      %li.yes
        Post Unlimited Videos
      %li.yes
        10GB space
      %li.yes
        Place Your Videos In "Successes" Category
      %li.yes
        Upload Your Custom Logo
      %li.buy
        - case current_account.upgrade_plan_status(Plan.expert_plan)
        - when :current
          = link_to 'Current plan', '#', class: 'btn disabled', disabled: true
        - when :can_upgrade
          = link_to "Upgrade to EXPERT", new_admin_order_path(plan: 'expert')
        - else
          = link_to "Can't upgrade", '#', class: 'btn disabled', disabled: true

  .row.mt2
    .col-md-12.text-right
      = link_to 'Cancel', admin_orders_path, class: 'btn btn-default'
