#registration.container-fluid.login.mb1
  .container
    .col-xs-12.col-sm-12.col-md-7.col-lg-8
      = image_tag 'login_teaser.png', class: 'img-responsive'
      %h2 Customized video hosting made simple
      %p
        With videopage7 you found an easy way to manage and show promotional videos about products, sales pitches, bonuses, news and much more. Interact with prospective clients around the globe, generate leads and get instant feedback in a message board you control. Choose your own subdomain for controlled content management.
    .col-xs-12.col-sm-12.col-md-5.col-lg-4
      .well.no-padding
        .header
          %h2 Sign up
        .wellform
          = bootstrap_form_for(resource, as: resource_name, layout: :horizontal, label_col: "col-sm-12", control_col: "col-sm-12", url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            = f.email_field :email, autofocus: true
            = f.password_field :password, autocomplete: "off"
            = f.password_field :password_confirmation, autocomplete: "off"
            = f.form_group do
              = f.submit "Register now", :class => 'btn btn-secondary'
              = render "accounts/shared/links"