%tr
  %td
    - if post.video.present?
      = image_tag post.video.screenshot, class: 'img-responsive', style: 'max-width: 120px;'
    - elsif post.has_embeded_video?
      = image_tag post.embeded_video.thumbnail_small, class: 'img-responsive', style: 'max-width: 120px;'

  %td= post.title
  %td= post.excerpt
  %td= post.comments.count
  %td= post.published
  %td= post.created_at
  %td= post.updated_at
  %td.text-right
    = link_to 'Edit', edit_admin_post_path(post), class: "btn btn-info"