%tr
  %td
    - if post.video.present?
      = image_tag post.video.screenshot, class: 'img-responsive', style: 'max-width: 120px;'
    - elsif post.has_embeded_video?
      - if !post.embeded_video.blank?
        = image_tag post.embeded_video_thumbnail_small, class: 'img-responsive', style: 'max-width: 120px;'

  %td= post.title
  %td= strip_tags post.excerpt
  %td= post.comments.count
  %td= post.published
  %td= post.created_at
  %td= post.updated_at
  %td.text-right
    - unless post.destroyed?
      = link_to 'Edit', edit_admin_post_path(post), class: "btn btn-info"
    - else
      = link_to 'Permanently delete', really_destroy_admin_post_path(post), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure to delete permanently?' }
      = link_to 'Restore', restore_admin_post_path(post), class: "btn btn-info", method: :put