%h2
  - if @post.new_record?
    New Post
  - else
    Edit Post
.shortline.mb2

= tabs_tag :open_tabs=>{ class: 'nav nav-tabs' } do |tab|
  - unless @post.new_record?
    = tab.post 'Content', edit_admin_post_path(@post)
    - if @post.video.blank?
      = tab.video 'Preview Video', new_admin_post_video_path(@post)
    - else
      = tab.video 'Preview Video', edit_admin_post_video_path(@post, @video)
  - else
    = tab.post 'Content', new_admin_post_path
    = tab.video 'Preview Video', new_admin_post_path