.post.col-md-6
  .bgwhite
    .row.video-thumb.nomargin
      .col-md-12.nopadding
        - unless post.video_url.blank?
          = post.video_url_html
        - else
          - if post.video.present?
            - if !post.video.url.blank?
              = jwplayer({width: '100%', aspectratio: '16:9', file: post.video.url, image: post.video.screenshot})
            -else
              = image_tag post.video.screenshot, class: 'img-responsive'
          - else
            = image_tag "http://placehold.it/263x197", id: "video_screenshot", class: "img-responsive"
    .row.post-top
      .col-md-12.nopadding
        %span.post-meta
          = post.created_at.strftime( '%D' )
          |
          %span
            From
            = link_to post.account.full_name, account_path(post.account)
            |
          %span
            = post.comments.count
            comments
      .col-md-12.nopadding
        %h2.post-title
          = link_to post.title, post_path(post)
        .shortline
    .row.excerpt
      .col-md-12
        = post.the_excerpt
    .row
      %a.read.text-right{:href => post_path(post), :alt => ''}
        %span.text-left.pull-left.search-text Continue reading
        %span.glyphicon.glyphicon-search.searchicon
        %span.clearfix
