#sidebar.col-md-3.pull-right
  - if !@current_author.blank? && !@current_author.profile.blank?
    .sidebar-element.bgwhite
      .user-shortinfo
        - unless current_account.blank?
          - if current_account == @current_author
            = link_to edit_admin_profile_path, class: 'follow-layer' do
              %span.glyphicon.glyphicon-pencil
              Edit Profile
          - else
            - unless current_account.following?(@current_author)
              = link_to follow_account_path(@current_author), method: :put, class: 'follow-layer' do
                %span.glyphicon.glyphicon-plus
                Follow
            - else
              .follow-layer
                %span.glyphicon.glyphicon-star
                You follow him
        .row
          .col-md-12
            - unless @current_author.profile.avatar.blank?
              = image_tag @current_author.profile.avatar_url, :class => 'img-responsive'
            - else
              = image_tag 'nouserimage.jpg', :class => 'img-responsive'
        .row
          .col-md-12
            %h4.user-name
              = link_to @current_author.full_name, account_path(@current_author)
        .row
          .col-md-12
            %p.user-shortdesc
              = truncate (@current_author.profile.description), length: 125

        - if current_account != @current_author
          %hr.visible-xs
          .row.visible-xs
            .col-xs-12
              - if current_account and !current_account.following?(@current_author)
                = link_to follow_account_path(@current_author), method: :put, class: 'follow-layer-mobile' do
                  %span.glyphicon.glyphicon-plus
                  Follow
              - else
                .follow-layer-mobile
                  %span.glyphicon.glyphicon-star
                  You follow him
      

  - if current_account.blank?
    .sidebar-element.bgwhite.nopadding.create-post.hidden-xs
      %h3.text-center.nomargin
        = link_to new_account_session_path, class:'show p3', alt: '' do
          %span.glyphicon.glyphicon-plus
          %h4 Create new videopage now!
    .sidebar-element.bgwhite.hidden-xs
      %h4.secondarytext Customized video hosting made simple
      .shortline
      %p
        With videopage7 you found an easy way to manage and show promotional videos about products, sales pitches, bonuses,
        news and much more. Interact with prospective clients around the globe, generate leads and get instant feedback in a message board you control.
        Choose your own subdomain for controlled content management.

  - elsif @current_author == current_account || @current_author.blank?        
    .sidebar-element.bgwhite.nopadding.create-post.hidden-xs
      %h3.text-center.nomargin
        = link_to new_admin_post_path, class:'show p3', alt: '' do
          %span.glyphicon.glyphicon-plus
          %h4 Create new post
  
  .sidebar-element.bgwhite.mysuccesses.hidden-xs
    %ul
      - if !params[:category_id].blank?
        %li
          = link_to "All posts", posts_path
      - else
        - Category.all.each do |category|
          %li
            = link_to category.name, posts_path(category_id: category.id)

