.container
  .row
    = render "sidebar"
    #posts.col-md-9
      - if !current_account.blank? && current_account.posts.first.blank?
        .page-status
          .row
            .col-md-4
              .bgwhite.status-done
                .status-head
                  .status-icon.icon-icon1
                  %span Congratulations
                .status-body
                  You have created your own videopage!
            .col-md-4
              .bgwhite
                .status-head
                  .status-icon.icon-icon3
                  %span Your first post
                .status-body
                  = link_to new_admin_post_path, alt: '' do
                    Now you can create your first video post quickly.

            .col-md-4
              .bgwhite
                .status-head
                  .status-icon.icon-icon2
                  %span Publish
                .status-body
                  After creating your video post, you can publish it!
      .row.post-container
        = render @posts
    = render "mobilesidebar"
  .row
    .col-md-9
      = paginate @posts