#top-header.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  .container.header-content
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => posts_path}
        - if current_blog_setting.try :show_blog_logo?
          = image_tag current_blog_setting.blog_logo.thumb.url
        - else
          = image_tag 'logo.png'

    .collapse.navbar-collapse
      - unless current_account.blank?
        %p.navbar-text.navbar-right
          = link_to "<span class='glyphicon glyphicon-off'></span>".html_safe, destroy_account_session_path, :method => 'delete', :title => 'Logout'
        %p.navbar-text.navbar-right
          %a{:href => admin_posts_url(host: "www.#{request.domain}") }
            Signed in as
            = current_account.full_name
      - else
        %p.navbar-text.navbar-right
          = link_to 'Pricing', new_admin_order_path
          = link_to "Sign In", new_account_session_path



