!!!
%html
  %head
    %title Videopage7 Backend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "//cdn.pandastream.com/u/2.1/panda-uploader.min.js"}
  %body
    .container
      = render "layouts/header_public"
      = render "/shared/flashes"
      = yield

    = yield :javascript