!!!
%html{:lang => "en", :style => "margin: 20px"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Video Page 7
    = stylesheet_link_tag    "accounts", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "/shared/flashes"
    .row
      .col-xs-12
        = yield
          
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :javascript
