.container
  .bgwhite
    .row
      .col-md-12
        %h2 Account Profile
        %p
          %strong Name:
          = @account.full_name

        %p
          %strong Email:
          = @account.email
        %p
          = image_tag(@account.profile.avatar_url) unless @account.profile.avatar.blank?
        %p
          %strong Blog alias:
          %strong 
            = @account.setting.blog_alias

          .help
            Your blog domain is
            %strong
              = link_to "#{@account.setting.blog_alias}.#{request.domain}", "http://#{@account.setting.blog_alias}.#{request.domain}"
          %p
            %strong Followers:
            = @account.followers_count

        - if @account == current_account
          %p
            = link_to 'Edit Profile', edit_admin_profile_path, class: 'btn btn-warning'
            = link_to 'Change Blog Alias', edit_admin_setting_path, class: 'btn btn-danger'
        - elsif !current_account.blank?
          = link_to 'Follow', follow_account_path(@current_author), method: :put, class: 'btn btn-primary'
